.products-line {
  display: grid;
  grid-template-columns: 20px 200px 200px 200px 300px 100px 100px 100px 100px ;
  border-top: 1px dashed gray;
  border-left: 1px dashed gray;
}
.products-list DIV {
  border-right: 1px dashed gray;
  border-bottom: 1px dashed gray;
}
